{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-template-literals",
    ["babel-plugin-module-resolver", {
      "root": ["./src"],
      "alias": {
        "rt": "./src"
      }
    }],
    "babel-plugin-transform-import-meta"
  ]
}
